*{
    margin: 0px;
    padding: 0px;
}

/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color:  gray  rgb(0 0 0 / 40%);;
  }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 6px;
  }
  
  *::-webkit-scrollbar-track {
    background: rgb(0 0 0 / 40%);
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 10px;
  }

a{
    text-decoration: none;
    color: white;
}

body{
    background-color: #161513;
    color: white;
    font-family: 'Bai Jamjuree', sans-serif;
}
header{
    padding: 0rem 8rem;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav a{
    color: white;
    font-size: 1.5rem;
}
.lts{
    background-color: white; 
    color: black; 
    box-shadow: 0 0 5px; 
    display: flex;
    align-items: center; 
    justify-content: center; 
    border-radius: 25px; 
    height:40px; 
    width: 100px; 
    font-size: 1rem;
    padding: 0rem 0.5rem;
}
.lts:hover{
    background: linear-gradient(90deg, rgba(177,108,234,1) 0%, rgba(255,94,105,1) 33.33%, rgba(255,123,92,1) 66.6%, rgba(255,168,75,1) 100%);
    color: white;
    cursor: pointer;
}
.nav img{
    width: 6rem;
    height: 6rem;
    display: flex;
    justify-content: left;
  
    border-radius: 50%;
}
nav{
    display: flex;
    justify-content: space-between;
    width: 30rem;

}

.landing-page{
    text-align: center;
    
    padding: 0px 0px 100px 0px;
}

.landing-page img{
    border-radius: 50%;
    width: 180px;
    height: 180px;
    display: block;
    margin: auto;
    padding: 2rem 0rem;
}
.landing-page h1{
    font-weight: 700;
    font-size: 60px;
    line-height: 100%;
    padding: 0px 150px;
    padding-bottom: 1rem;
}
.landing-page h1 span{
    background: linear-gradient(90deg, rgba(177,108,234,1) 0%, rgba(255,94,105,1) 70%, rgba(255,123,92,1) 90%, rgba(255,168,75,1) 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}
.landing-page p{
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    line-height: 30px;
    padding: 10px 300px;
    text-align: center;
}
.git{
    background-color: white; 
    color: black;
}
.vaw{
    background-color: black; 
    color: white; 
    border: 1px; 
    border-style: solid;
}
.buttons button{
    padding: 15px 20px;
    border-radius: 25px;
    font-weight: 500;
    margin: 20px 5px;
}
.buttons button:hover{
    background: linear-gradient(90deg, rgba(177,108,234,1) 0%, rgba(255,94,105,1) 40%, rgba(255,123,92,1) 50%, rgba(255,168,75,1) 100%);
    color: white;
    cursor: pointer;
}

.show{
    padding: 0rem 8rem;
    background-color: #1C1C22;
}
.showcase{
    display: flex;
    justify-content: space-between;
    padding: 80px 0px 50px 0px;
}
.heading{
    display: block;
}
.heading h1{
    width: 900px;
    font-weight: 700;
    font-size: 50px;
    line-height: 100%;
}
.heading h1 hr{
    display: inline-block;
    width: 60px;
    vertical-align: super;
}
.heading span{
    background: linear-gradient(90deg, rgba(177,108,234,1) 0%, rgba(255,94,105,1) 40%, rgba(255,123,92,1) 60%, rgba(255,168,75,1) 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}
.cards{
    padding: 0px 0px 80px 0px;
}
.cd{
    font-size: 30px;
    border-top-style: solid;
    padding: 30px 10px;
}
.cd:hover{
    background: linear-gradient(90deg, rgba(177,108,234,1) 0%, rgba(255,94,105,1) 40%, rgba(255,123,92,1) 70%, rgba(255,168,75,1) 100%);
    cursor: pointer;
}